auto-install-peers=true
engine-strict=true
registry=https://registry.npmjs.org

# shamefully-hoist=true 会将所有依赖提升至 node_modules，不建议使用，如果需要提升某一个包，可以使用 public-hoist-pattern[] 配置
# shamefully-hoist=true
public-hoist-pattern[]=*eslint*

# https://github.com/antfu/unplugin-vue-components/issues/406#issuecomment-1150811899
public-hoist-pattern[]=@vue/runtime-core
